In [1]:
celsius=[39.2,36.5,37.3,37.8]
fahrenheit=[((float(9)/5)*x+32) for x in celsius]
print(fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

In [6]:
[(x,y,z) for x in range(1,30)\
 for y in range (x,30) for z in range(y,30) if x**2 + y**2 ==z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [47]:
#Multiplacion carteciana, operacion carteciana
colours=["roy", "sergio"]
apellidos=["perez", "gaitan"]
juntos= colours + apellidos

[(x,y) for x in colours for y in apellidos]

[('roy', 'perez'),
 ('roy', 'gaitan'),
 ('sergio', 'perez'),
 ('sergio', 'gaitan')]

In [49]:
fellowship=["fordo", "sawise", "merry", "aragorn", "legolas", "boromir", "gimli"]
new= [member for member in fellowship if len(member)>=7]
print(new)

['aragorn', 'legolas', 'boromir']

In [50]:
new2=[member if len(member)>=7 else "" for member in fellowship]
print(new2)

['', '', '', 'aragorn', 'legolas', 'boromir', '']

In [52]:
new_dict= { member: len(member) for member in fellowship}
new_dict

{'fordo': 5,
 'sawise': 6,
 'merry': 5,
 'aragorn': 7,
 'legolas': 7,
 'boromir': 7,
 'gimli': 5}

In [64]:
def read_large_file(file):
    while True: #Mientras sea verdadero
        data= file.readline()
        if not data:
            break
        
        yield data # es como el return, va importar los datos de entrada a trozos

In [68]:
path="./world_ind_pop_data.csv"
with open(path) as file:
    data= read_large_file(file)
    print(next(data))
    print(next(data))
    print(next(data))

CountryName,CountryCode,Year,Total Population,Urban population (% of total)

Arab World,ARB,1960,92495902.0,31.285384211605397

Caribbean small states,CSS,1960,4190810.0,31.5974898513652

In [ ]:
#construir un diccionario con las 100 primeras filas y convertirla en pandas, cada key va a tener 100 valores de definicion